
.about .slick-dots {
  top: 400px;
}

/* Laptop */
@media (max-width: 1024px) {
  .slick-dots {
    top: 470px;
  }

  .testmonial .slick-dots {
    top: 320px;
  }

  .about .slick-dots {
    top: 340px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .slick-dots {
    top: 430px;
  }

  .about .slick-dots {
    top: 310px;
  }

  .slick-dots li {
    width: 11px !important;
    height: 11px !important;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .slick-dots {
    top: 350px;
    gap: 6px;
  }

  .about .slick-dots {
    top: 260px;
  }

  .slick-dots li {
    width: 10px !important;
    height: 10px !important;
  }
}